<div class="container">
  <div class="row">
    <div class="col-3">
      <h2 class="text-center">My Profile</h2>
      <div class="profile">
        <% if @user.profile_photo.attached?  %>
          <%= cl_image_tag @user.profile_photo.key, class: "profile-pic" %>
        <% end %>
        <h2><%= @user.first_name %> <%= @user.last_name %></h2>
        <h6>Email: <%= @user.email %></h6>
      </div>
    </div>
    <div class="col-9 upcoming-appointments">
      <h2>My Upcoming Teaching Sessions</h2>
      <ul class="list-group list-group-flush">
        <% @user.appointments.each do |appointment| %>
        <li class="list-group-item">Appointment with: <%= appointment.student.first_name %> <%= appointment.student.last_name %> on <%= appointment.start_time %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
