
<div class="container">
  <h1>Create a course</h1>
  <%= simple_form_for @course do |f| %>
  <%= f.input :title %>
  <%= f.input :category, collection: @category %>
  <%= f.input :description, as: :text %>
  <%= f.input :price_per_hour, input_html: { min: '0', step: '1' } %>
  <%= f.button :submit %>
  <% end %>
</div>