<div>
  <% if @course.cover_photo.attached? %>
    <%= cl_image_tag @course.cover_photo.key, class: "cover-photo" %>
  <% else %>
    <%= image_tag "classroom.jpg", class: "cover-photo" %>
  <% end %>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-8 d-flex flex-column align-items-center">
      <div class="course-show-card">
        <div class="course-intro">
          <h1>Welcome to <%= @course.title %>!</h1>
          <p class="course-show-address">Course Category: <%= @course.category %></p>
        </div>
        <div class="course-content">
          <h3 class="mt-5">A bit more about this course...</h3>
          <p ><%= @course.description %></p>
          <h5 class="mt-4">Course taught by:</h5>
          <ul class="list-inline">
            <li class="list-inline-item">
              <% if @course.teacher.profile_photo.attached? %>
                <%= cl_image_tag @course.teacher.profile_photo.key, class: "avatar-bordered" %>
              <% else %>
                <%= image_tag "user-profile-default.png", class: "avatar-bordered" %>
              <% end %>
            </li>
          <li class="list-inline-item"><%= @course.teacher.first_name %> <%= @course.teacher.last_name %></li>
          </ul>
          <h5 class="mt-4">Price per hour: $<%= @course.price_per_hour %></h5>
        </div>
        <%= link_to "Back to all courses", courses_path, class: "btn btn-success mt-5" %>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Book this course!</h5>
          <%= simple_form_for [ @course, @appointment ] do |f| %>
            <%= f.input :start_time, as: :date, html5: true %>
            <%= f.input :end_time, as: :date, html5: true %>
            <% if current_user != @course.teacher %>
              <%= f.submit "Book", class: "btn btn-outline-success btn-block" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>
