 <div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="course-show-card">
        <h1><%= @course.title %></h1>
        <p class="course-show-address"><%= @course.category %></p>
      </div>
      <div class="course-show-card">
        <h3>A bit more about this course...</h3>
        <p><%= @course.description %></p>
      </div>
    </div>

    <div class="col-4">
      <div class="course-show-card">
        <h5>Book this course!</h5>

        <form action="">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">From:</span>
            <input type="text" class="form-control" placeholder="12/10/2021" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mt-2">
            <span class="input-group-addon" id="basic-addon1">To:</span>
            <input type="text" class="form-control" placeholder="18/10/2021" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
          <%= link_to "Delete #{@course.title}", course_path(@course), method: :delete, data: { confirm: "Just making sure...?"}, class: "btn btn-danger mt-2", style: "width: 100%"  %>
        </form>
      </div>
      <div class="course-show-card">
        <h3>Details</h3>
        <div class="flex">
          <div class="flex">
            <i class="material-icons mr-2">Teacher:</i><span><%= @teacher_id %></span>
          </div>
          <div class="flex ml-3">
            <i class="material-icons mr-2">Price per hour</i> $ <%= @course.price_per_hour %>
          </div>
        </div>
      </div>
    </div>
  </div>
