 <div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="course-show-card">
        <h1><%= @course.title %></h1>
        <p class="course-show-address"><%= @course.category %></p>
      </div>
      <div class="course-show-card">
        <h3>A bit more about this course...</h3>
        <p><%= @course.description %></p>
      </div>
    </div>
    <div class="col-4">
      <div class="course-show-card mb-3">
        <h4><strong>Book this course!</strong></h4>
        <%= simple_form_for [ @course, @appointment ] do |f| %>
          <%= f.input :start_time %>
          <%= f.input :end_time %>
          <%= f.submit "Book", class: "btn btn-outline-success btn-block" %>
        <% end %>
        
      </div>
      <div class="course-show-card">
        <h3>Details</h3>
        <div class="flex">
          <div class="flex">
            <i class="material-icons mr-2">Teacher: <%= @course.teacher.first_name %> <%= @course.teacher.last_name %></i><span><%= @teacher_id %></span>
          </div>
          <div class="flex ml-3">
            <i class="material-icons mr-2">Price per hour</i> $<%= @course.price_per_hour %>
          </div>
        </div>
      </div>
    </div>
  </div>
